In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
df=pd.read_csv('test1.csv',encoding = 'unicode_escape')

In [3]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...

In [4]:
df['Qualification'].value_counts

<bound method IndexOpsMixin.value_counts of 0                                                    MBBS
1              MBBS, Diploma in Otorhinolaryngology (DLO)
2                                              MBBS, DDVL
3                                                    BAMS
4         BDS, MDS - Conservative Dentistry & Endodontics
5                                                BDS, MDS
6              MBBS, Diploma in Otorhinolaryngology (DLO)
7                                  BDS, MDS - Pedodontics
8       MD - Ayurveda Medicine, BAMS, Yoga Teachers Tr...
9                                                    BHMS
10                                                    BDS
11                                MBBS, FCD - Diabetology
12                                              MBBS, DDV
13                                 MBBS, MD - Dermatology
14                                               MS - ENT
15                                                    BDS
16                                 MBBS, MD - Dermatology
17      MBBS, Diploma in Otorhinolaryngology (DLO), MS...
18        BDS, MDS - Conservative Dentistry & Endodontics
19                                 MBBS, MD - Dermatology
20      BHMS, Diploma in Naturopathy & Yogic Science (...
21                                                    BDS
22                                 MBBS, MD - Dermatology
23       MBBS, PG Diploma In Clinical Cosmetology (PGDCC)
24                                                   MBBS
25             MBBS, Diploma in Otorhinolaryngology (DLO)
26                                BDS, MDS - Periodontics
27                               BDS, MDS- Oral Pathology
28                            MBBS, MD - General Medicine
29                                         MS - ENT, MBBS
                              ...
1957    MD - Acupuncture, PG Diploma In Clinical Cosme...
1958    MBBS, MS - ENT, Diploma in Otorhinolaryngology...
1959                                  MBBS, MD - Medicine
1960                              BDS, MDS - Orthodontics
1961                                                 BHMS
1962                                          MBBS, PGDHA
1963                                                 BHMS
1964    BDS, MDS - Prosthodontist And Crown Bridge, Ce...
1965                                      MBBS, MRCOG(UK)
1966    MD - Medicine, Post Graduate Diploma in Diabet...
1967                                   MDS - Periodontics
1968                          MBBS, DNB - Family Medicine
1969                         BAMS, MD - Ayurveda Medicine
1970                MDS - Prosthodontist And Crown Bridge
1971                                       MBBS, MS - ENT
1972                         MBBS, Diploma in Dermatology
1973                                            MBBS, DDV
1974           MBBS, Diploma in Otorhinolaryngology (DLO)
1975                                                 MBBS
1976                       MBBS, MS - Otorhinolaryngology
1977             MBBS, MS - General Surgery, FAIS, FIAGES
1978                               BDS, MDS - Endodontics
1979              BDS, MDS - Oral & Maxillofacial Surgery
1980                               MDS - Pedodontics, BDS
1981    MBBS, MD - Dermatology , Venereology & Leprosy...
1982                             BAMS, Doctor of Medicine
1983       MD - Dermatology , Venereology & Leprosy, MBBS
1984             MBBS, MD / MS - Obstetrics & Gynaecology
1985                                                  BDS
1986       MBBS, MD - Dermatology , Venereology & Leprosy
Name: Qualification, Length: 1987, dtype: object>

In [5]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai"
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...

In [6]:
qual=df['Qualification'].str.split(',')

In [7]:
qualifications=[]
range=np.arange(0,len(qual))
for m in range:
    qualifications.append(len(qual[m]))

In [8]:
max(qualifications)

17

In [9]:
df['qual 1']=df['Qualification'].str.split(',').str[0]
df['qual 2']=df['Qualification'].str.split(',').str[1]
df['qual 3']=df['Qualification'].str.split(',').str[2]
df['qual 4']=df['Qualification'].str.split(',').str[3]
df['qual 5']=df['Qualification'].str.split(',').str[4]
df['qual 6']=df['Qualification'].str.split(',').str[5]
df['qual 7']=df['Qualification'].str.split(',').str[6]
df['qual 8']=df['Qualification'].str.split(',').str[7]
df['qual 9']=df['Qualification'].str.split(',').str[8]
df['qual 10']=df['Qualification'].str.split(',').str[9]
df['qual 11']=df['Qualification'].str.split(',').str[10]
df['qual 12']=df['Qualification'].str.split(',').str[11]
df['qual 13']=df['Qualification'].str.split(',').str[12]
df['qual 14']=df['Qualification'].str.split(',').str[13]
df['qual 15']=df['Qualification'].str.split(',').str[14]
df['qual 16']=df['Qualification'].str.split(',').str[15]
df['qual 17']=df['Qualification'].str.split(',').str[16]

In [10]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,qual 1,qual 2,qual 3,qual 4,...,qual 8,qual 9,qual 10,qual 11,qual 12,qual 13,qual 14,qual 15,qual 16,qual 17
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN,MBBS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN,MBBS,Diploma in Otorhinolaryngology (DLO),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai",MBBS,DDVL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN,BAMS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...,BDS,MDS - Conservative Dentistry & Endodontics,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['exp']=df['Experience'].str.split(' ').str[0]

In [12]:
df['rating']=df['Rating'].str.split('%').str[0]

In [13]:
df['city']=df['Place'].str.split(',').str[1]

In [14]:
df['Location']=df['Place'].str.split(',').str[0]

In [15]:
df.Profile.value_counts()

General Medicine    444
Dentist             441
Dermatologists      339
Homeopath           277
Ayurveda            251
ENT Specialist      235
Name: Profile, dtype: int64

In [16]:
df.head()

,Qualification,Experience,Rating,Place,Profile,Miscellaneous_Info,qual 1,qual 2,qual 3,qual 4,...,qual 12,qual 13,qual 14,qual 15,qual 16,qual 17,exp,rating,city,Location
0,MBBS,35 years experience,NaN,"Ghatkopar East, Mumbai",General Medicine,NaN,MBBS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,35,NaN,Mumbai,Ghatkopar East
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,NaN,"West Marredpally, Hyderabad",ENT Specialist,NaN,MBBS,Diploma in Otorhinolaryngology (DLO),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31,NaN,Hyderabad,West Marredpally
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,"70% 4 Feedback KK Nagar, Chennai",MBBS,DDVL,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40,70,Chennai,KK Nagar
3,BAMS,0 years experience,NaN,"New Ashok Nagar, Delhi",Ayurveda,NaN,BAMS,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,Delhi,New Ashok Nagar
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,General Dentistry Conservative Dentistry Cosme...,BDS,MDS - Conservative Dentistry & Endodontics,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,16,100,Bangalore,Kanakpura Road

In [17]:
df.isnull().sum()/len(df)

Qualification         0.000000
Experience            0.000000
Rating                0.548566
Place                 0.003020
Profile               0.000000
Miscellaneous_Info    0.419728
qual 1                0.000000
qual 2                0.306492
qual 3                0.753900
qual 4                0.938098
qual 5                0.981882
qual 6                0.995974
qual 7                0.998490
qual 8                0.998993
qual 9                0.998993
qual 10               0.999497
qual 11               0.999497
qual 12               0.999497
qual 13               0.999497
qual 14               0.999497
qual 15               0.999497
qual 16               0.999497
qual 17               0.999497
exp                   0.000000
rating                0.548566
city                  0.003020
Location              0.003020
dtype: float64

In [18]:
df.shape

(1987, 27)

# we will impute the missing values of 'Rating' column and drop the 'Miscellaneous_Info' as it has over 40% missing data.

In [19]:
df.drop('Miscellaneous_Info',inplace=True,axis=1)

In [20]:
df.columns

Index(['Qualification', 'Experience', 'Rating', 'Place', 'Profile', 'qual 1',
       'qual 2', 'qual 3', 'qual 4', 'qual 5', 'qual 6', 'qual 7', 'qual 8',
       'qual 9', 'qual 10', 'qual 11', 'qual 12', 'qual 13', 'qual 14',
       'qual 15', 'qual 16', 'qual 17', 'exp', 'rating', 'city', 'Location'],
      dtype='object')

In [21]:
from sklearn.impute import SimpleImputer

In [22]:
si=SimpleImputer(strategy='mean')
sim=SimpleImputer(strategy='most_frequent')

In [23]:
df.isnull().sum()

Qualification       0
Experience          0
Rating           1090
Place               6
Profile             0
qual 1              0
qual 2            609
qual 3           1498
qual 4           1864
qual 5           1951
qual 6           1979
qual 7           1984
qual 8           1985
qual 9           1985
qual 10          1986
qual 11          1986
qual 12          1986
qual 13          1986
qual 14          1986
qual 15          1986
qual 16          1986
qual 17          1986
exp                 0
rating           1090
city                6
Location            6
dtype: int64

In [24]:
df['rating']=si.fit_transform(df['rating'].values.reshape(-1,1))
df['Place']=sim.fit_transform(df['Place'].values.reshape(-1,1))
df['Location']=sim.fit_transform(df['Location'].values.reshape(-1,1))

In [25]:
df.isnull().sum()

Qualification       0
Experience          0
Rating           1090
Place               0
Profile             0
qual 1              0
qual 2            609
qual 3           1498
qual 4           1864
qual 5           1951
qual 6           1979
qual 7           1984
qual 8           1985
qual 9           1985
qual 10          1986
qual 11          1986
qual 12          1986
qual 13          1986
qual 14          1986
qual 15          1986
qual 16          1986
qual 17          1986
exp                 0
rating              0
city                6
Location            0
dtype: int64

In [26]:
df.fillna('na',inplace=True)

In [27]:
df.head()

,Qualification,Experience,Rating,Place,Profile,qual 1,qual 2,qual 3,qual 4,qual 5,...,qual 12,qual 13,qual 14,qual 15,qual 16,qual 17,exp,rating,city,Location
0,MBBS,35 years experience,na,"Ghatkopar East, Mumbai",General Medicine,MBBS,na,na,na,na,...,na,na,na,na,na,na,35,94.441472,Mumbai,Ghatkopar East
1,"MBBS, Diploma in Otorhinolaryngology (DLO)",31 years experience,na,"West Marredpally, Hyderabad",ENT Specialist,MBBS,Diploma in Otorhinolaryngology (DLO),na,na,na,...,na,na,na,na,na,na,31,94.441472,Hyderabad,West Marredpally
2,"MBBS, DDVL",40 years experience,70%,"KK Nagar, Chennai",Dermatologists,MBBS,DDVL,na,na,na,...,na,na,na,na,na,na,40,70.000000,Chennai,KK Nagar
3,BAMS,0 years experience,na,"New Ashok Nagar, Delhi",Ayurveda,BAMS,na,na,na,na,...,na,na,na,na,na,na,0,94.441472,Delhi,New Ashok Nagar
4,"BDS, MDS - Conservative Dentistry & Endodontics",16 years experience,100%,"Kanakpura Road, Bangalore",Dentist,BDS,MDS - Conservative Dentistry & Endodontics,na,na,na,...,na,na,na,na,na,na,16,100.000000,Bangalore,Kanakpura Road

In [28]:
drop=['Qualification','Experience','Rating','Place']
df.drop(drop,inplace=True,axis=1)

In [30]:
rfr=RandomForestRegressor()

NameError: name 'RandomForestRegressor' is not defined